body {
    background-color: #111;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    padding: 25px;
}

label {
    font-weight: bold;
}

input-group {
    margin: 25px;
}

option {
    background-color: #222;
    color: white;
}

option:hover {
    background-color: #fff;
    color: black;
}